<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Canoğluİletişim</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
      <!-- Navbar text-->
    <li class="nav-item">
      <a class="nav-link active" href="/">Anasayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kategori/ceptelefonu">Cep Telefonu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kategori/akillisaatler">Akıllı Saatler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kategori/telefonkilifi">Telefon Kılıfı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kategori/kulaklik">Kulaklık</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sepet">Sepet</a>
    </li>
</nav>

<div align="center"> <img src="/static/canologo.jpg" alt="logo" style="width:500px;"> </div>
<div align="center">  <h2>Türkiyenin her yerine servisimiz vardır!</h2> </div>

<div class="container">
  <p align="center" style="color:#0404ee;"> KONUM:Armağanevler mahl. Ortanca sokak No:44-46 Ümraniye/İstanbul</p>
    <div class="navbar-header">
    <a class="navbar-brand" href="https://www.google.com/maps/@41.0182387,29.1237768,14z">  <img width="1000" src="/static/konum.png"/> </a>
    </div>
</div>

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/hakkimizda">Hakkımızda</a>
    <a href="https://www.instagram.com/onurcaanoglu/"> /Instagram </a>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>