<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Ürünler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
      <!-- Navbar text-->
    <li class="nav-item">
      <a class="nav-link" href="/">Anasayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{'active' if kategori == 'ceptelefonu' }}" href="/kategori/ceptelefonu">Cep telefonu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{'active' if kategori == 'akillisaatler' }}" href="/kategori/akillisaatler">Akıllı Saat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{'active' if kategori == 'telefonkilifi' }}" href="/kategori/telefonkilifi">Telefon Kılıfı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{'active' if kategori == 'kulaklik' }}" href="/kategori/kulaklik">Kulaklık</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sepet">Sepet</a>
    </li>
  </ul>
  {% if kullanici %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/cikis"> Merhaba {{kullanici['ad']}} - Çıkış yap</a>
    </li>
  </ul>
  {% else %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/giris"> Kullanıcı Girişi</a>
    </li>
  </ul>
  {% endif %}

</nav>


<div align="center"> <img src="/static/canologo.jpg" alt="logo" style="width:500px;"> </div>



<div class="container-fluid">

<div align="center" > <h1>Kategorideki Ürünler</h1>  </div>

  <div class="row wow fadeIn">

  {%for urun in urunler%}

    <div class="col-lg-3 col-md-6 mb-4">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src='{{urun["fotograf"]}}' class="card-img-top" style="height:280px;width:320px" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <h5>
                  <strong>
                    <span class="dark-grey-text">
                      {{urun["ad"]}}
                    </span>
                  </strong>
                </h5>
                <span class="grey-text">
                  <h5>{{urun["aciklama"]}}</h5>
                </span>


                <p class="card-text">Stok durumu: {{urun["stok"]}} {{urun["stok_birim"]}}</p>

                <h4 class="font-weight-bold blue-text">
                  <strong>{{urun["fiyat"]}}₺</strong>
                </h4>

                <form action="/sepeteekle" method="post">
        <input type="hidden" id="urun_id" name="urun_id" value='{{urun["_id"]}}'>
        <button type="submit" class="btn btn-block btn-primary text-uppercase">Sepete Ekle</button>
      </form>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>



  {%endfor%}


  </div>


</div>

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/hakkimizda">Hakkımızda</a>
    <a href="https://www.instagram.com/onurcaanoglu/"> /Instagram </a>
  </div>
  <!-- Copyright -->

</footer>




</body>
</html>