<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İşlem gerçekleşti</title>
</head>
<body>

<div align="center"> <img src="/static/canologo.jpg" alt="logo" style="width:500px;"> </div>
<div align="center">  <h2>Yine Bekleriz!</h2> </div>
<div align="center">  <h2>Alışveriniz tamamlandı!</h2> </div>
<div align="center">  <a href="/">Anasayfaya dönmek için butona basınız. </a> </div>


<p></p>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div align="center" class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/hakkimizda">Hakkımızda</a>
    <a href="https://www.instagram.com/onurcaanoglu/"> /Instagram </a>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>