<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Sepetim</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
      <!-- Navbar text-->
    <li class="nav-item">
      <a class="nav-link" href="/">Anasayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kategori/ceptelefonu">Cep Telefonu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kategori/akillisaatler">Akillı Saat</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/kategori/telefonkilifi">Telefon Kılıfı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{'active' if kategori == 'kulaklik' }}" href="/kategori/kulaklik">Kulaklık</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/sepet">Sepet</a>
    </li>
    {% if kullanici['rol'] == 'yonetici' %}
    <li class="nav-item">
      <a class="nav-link" href="/uruntanimla">Ürün Tanımla</a>
    </li>
    {% endif %}


  </ul>
  {% if kullanici %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/cikis"> Merhaba {{kullanici['ad']}} - Çıkış yap</a>
    </li>
  </ul>
  {% else %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/giris"> Kullanıcı Girişi</a>
    </li>
  </ul>
  {% endif %}
</nav>


<div align="center"> <img src="/static/canologo.jpg" alt="logo" style="width:500px;"> </div>


<div class="container-fluid">
    <h1>Sepet</h1>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ürün</th>
        <th>Açıklama</th>
        <th style="text-align:right">Fiyat</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
    {%for urun in sepet_urunleri %}
      <tr>
        <td>
          <img src='{{urun["fotograf"]}}' width="80px" height="60px">
          {{urun["ad"]}}
        </td>
        <td>{{urun["aciklama"]}}</td>
        <td style="text-align:right">{{urun["fiyat"]}}₺</td>
        <td>
          <form action="/sepettencikar" method="post">
              <input type="hidden" id="_id" name="_id" value='{{urun["_id"]}}'>
              <button type="submit" class="btn"><i class="fas fa-trash"></i></button>
            </form>

        </td>
      </tr>
    {%endfor%}
    <tr>
      <td colspan="3" style="text-align:right">
        Toplam: {{ sepet_urunleri|sum(attribute='fiyat') }}₺
      </td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>

  <a href="/satinal" class="btn btn-primary btn-block">Satın Al</a>






</div>

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/hakkimizda">Hakkımızda</a>
    <a href="https://www.instagram.com/onurcaanoglu/"> /Instagram </a>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>
